/*Global*/ 
*{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}


:root {
    /* Color to use again in the rest of the code*/
    --primary-color: #BFD7FF;
    --secondary-color: #F6F9FF; 
    --third-color: #FFFFFF;
    --primary-text-color: ##212427; 
    --screen-sm: 768px; 
    --screen-md: 1024px; 
    --screen-lg: 1200px; 
    --screen-xl: 1600px;
}

body p{
    font-size:14px;
    line-height:1.6;

    @media screen and (min-width:var(--screen-sm) max-width:var(--screen-lg)){
        font-size:16px;
    }

    @media screen and (min-width:var(--screen-lg) max-width:var(--screen-xl)){
        font-size:18px;
    }

    @media screen and (min-width:var(--screen-xl)){
        font-size:20px;
    }
}

h1 { 
    font-size: 2.4rem;
}
h2 { 
    font-size: 2rem; 
}
h3 { 
    font-size: 1.6rem; 
}
h4 { 
    font-size: 1.2rem; 
}
h5 { 
    font-size: 1rem; 
}

@media screen and (min-width:var(--screen-sm)){
    h1 { 
        font-size: 3rem;
    }
    h2 { 
        font-size: 2.5rem; 
    }
    h3 { 
        font-size: 2rem; 
    }
    h4 { 
        font-size: 1.5rem; 
    }
    h5 { 
        font-size: 1rem; 
    }
}



/*Header - Navigation*/
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 30px;
    box-shadow: 0 1px 8px #ddd;
    background-color: var(--primary-color);
  }
  
  #logo {
    margin-right: auto;
  }
  
  header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
  }
  
  header a {
    text-decoration: none;
    color: #555;
  }
  
  header a:hover {
    color: #5465FF;
  }

/*Home section*/
#home {
  background-image: url("assests/cereale.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
  display: flex;
  color: var(--secondary-color);
  justify-content: center;
  align-items: center;
}

/*About us section*/

#about {
    background-color: var(--secondary-color); 
}


/*Wilders section*/
