
/*
body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

div, li, p {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

.navBar-container {
  background-color: #e2eff1;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: space-around;
  padding: 15px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

.logo {
  margin-top: 15px;
}

.navBar {
  text-align: center;
  margin: auto 0;
  font-size: 1.5em;
}
ul {
  padding: 0;
}

ul li{
  display: inline-block;
  margin-left: 5px;
  text-decoration-line: none;
  margin-left: 5px;
}
a {
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
  color: gray;
}

h1 {
  font-family: 'Fredoka One', cursive;
}

.main {
  display: inline-block;
  background-color: #f5f1da;
  width: 100%;
  padding: 0 130px;
}
.nasted-div {
  margin-top: 10%;
  padding: 10%;
}
.computer {
  float: left;
  margin-right: 30px;
}
.main-para {
  font-size: 25px;
  text-align: justify;
  margin-top: 0;
}

.card-img-top {
  width: 60%;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card {
  padding: 1.5em 0.5em 0.5em;
  text-align: center;
  border-radius: 2em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin: 10px;
}
.card-title {
  font-weight: bold;
  font-size: 1.5em;
}
.btn-primary {
  display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	color: #fff;
	background-color: #007bff;
}

.btn-primary:hover{
  background-color: #0069d9;

}

.members {
  width: 100%;
  background-color: #c6c5b3;
  padding: 10%;
  display: flex;
  flex-wrap: wrap;
} */

/*Global*/ 
*{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}


:root {
    /* Color to use again in the rest of the code*/
    --primary-color: #BFD7FF;
    --secondary-color: #F6F9FF; 
    --third-color: #FFFFFF;
    --primary-text-color: #212427; 
    --screen-sm: 768px; 
    --screen-md: 1024px; 
    --screen-lg: 1200px; 
    --screen-xl: 1600px;
}
/*I think code not working from here to 70 - we have to find a responsive solution for the font size*/
body p{
    font-size:14px;
    line-height:1.6;
    color: var(--primary-text-color);
}

@media screen and (min-width:768px) and (max-width:1200px){
    body p {
        font-size:16px;
    }
}

@media screen and (min-width:1200px) and (max-width:1600px){
    body p {
        font-size:18px;
    }
}

@media screen and (min-width:1600px){
    body p {
        font-size:20px;
    }
}

h1 { 
    font-size: 2.4rem;
}
h2 { 
    font-size: 2rem; 
}
h3 { 
    font-size: 1.6rem; 
}
h4 { 
    font-size: 1.2rem; 
}
h5 { 
    font-size: 1rem; 
}


@media screen and (min-width:768px){
    h1 { 
        font-size: 3rem;
    }
    h2 { 
        font-size: 2.5rem; 
    }
    h3 { 
        font-size: 2rem; 
    }
    h4 { 
        font-size: 1.5rem; 
    }
    h5 { 
        font-size: 1rem; 
    }
}



/*Header - Navigation*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 8px #ddd;
    background-color: var(--primary-color);
  }
  
  #logo {
    margin-right: auto;
  }
  
  header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
  }
  
  header a {
    text-decoration: none;
    color: #555;
    display: flex;
  }
  
  header a img {
    text-decoration: none;
    color: #555;
    display: flex;
    width: 70px;
  }

  header a:hover {
    color: #5465FF;
  }

/*Home section*/
#home {
  background-image: url("assests/cereale.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
  display: flex;
  color: var(--secondary-color);
  justify-content: center;
  align-items: center;
}

/*About us section*/

#about {
    background-color: var(--secondary-color); 
}


/*Wilders section*/

#wilders {
text-align: center;
margin: 40px; 
}


.container {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly; 
    align-items: center; 
}


.cards {
    background-color: var(--secondary-color); 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    border-radius: 10px;
    margin: 30px; 
}

#wilders .cards-image {
    width: 100%;
    border-radius: 10px 10px 0 0 ; 
}

.cards:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cards-container {
    padding: 10px 16px;
}

.cards button {
    background-color: #5465FF;
    border: 1px solid #5465FF;
    margin: 10px; 
    padding: 5% 15%; 
    border-radius: 4px;
    color: var(--secondary-color); 
    text-transform: uppercase;
    font-size: 0.8rem; 
    letter-spacing: 0.05rem;
}

.cards button:hover {
    background-color:var(--secondary-color);
    color: #5465FF;
}


@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .cards {
        width: 15%;
    }
}

/*The Modal*/ 
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 30px;
    width: 70%;
  }

  .modal-header {
    display: flex; 
    align-items: center;
    justify-content: center;
  }

  .modal-header-items-1, .modal-header-items-2 {
    width: 40%;
  }

  .modal-header-items-2 h4 {
    padding-bottom: 30px;
  }

  .social-links img{
    padding: 10px 20px;
  }


  .modal-header-image {
    width: 100%;
    border-radius: 50%;
    border: 1px solid #5465FF;
  }

  .modal-body {
    padding: 30px 10px 20px; 
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

